.off-screen-menu {
  position: fixed;
  background-color: black;
  top: 0;
  width: 60%;
  right: -60%;
  height: 100%;
  transition: 0.3s ease;
}

.off-screen-menu.active {
  right: 0;
}

.ham-menu {
  height: 50px;
  width: 50px;
}

.ham-menu * {
  width: 100%;
  height: 100%;
}
