/* Use grid in header container? */

/* Add Github button */

.header-container {
  /* border-style: solid; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--unit);
  padding: var(--unit);
  min-height: 20vh;
  /* position: sticky;
  top: 0px; */
}

.header-name {
  color: var(--color-text);
  /* border-style: solid; */
  /* font-size: 2rem; */
  justify-content: center;
  align-items: center;
}

.header-navbar {
  display: flex;
  flex-wrap: wrap;
  /* border-style: solid; */
  gap: var(--spacing-2);
  justify-content: flex-end;
  align-items: center;
  font-size: calc(2 * var(--unit));
}

.header-navbar-link {
  /* border-style: solid; */
  border-radius: var(--btn-radius);
  color: var(--color-text);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.socialMedia-container {
  /* border-style: solid; */
  border-color: red;
  display: flex;
}

.socialMediaLink {
  /* border-style: solid; */
  display: flex;
  justify-content: center;
  text-transform: none;
  color: var(--color-text);
  /* How to make the padding based off of the parent font size? */
  font-size: 2em;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.socialMediaLink:hover {
  color: rgb(175, 150, 255);
}

@media (max-width: 768px) {
  .header-navbar {
    display: none;
  }
}
