.hero-section {
  /* border-style: solid; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 75% auto;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  flex-grow: 1;
  /* gap: 2rem; */
  /* background-color: rgb(43, 109, 129); */
  height: calc(100vh - var(--header-height));
  padding-left: 6rem;
  padding-right: 6rem;
}

.hero-section a {
  grid-row-start: 2;
  grid-column-start: span 2;
  min-width: 300px;
  min-height: 100px;
  align-self: start;
}

.hero-info {
  grid-row: 1/1;
  justify-self: start;
  max-width: 45rem;
  margin: 0;
  /* background-color: red; */

  /* white-space: nowrap; */
}

.hero-body {
}

.hero-section .portrait-img {
  /* border-style: solid; */
  justify-self: end;
  grid-column: 2/2;
  border-radius: 32px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
}
