.intro-section {
  /* border-style: solid; */
  display: flex;
  min-height: 40vh;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.intro-info {
  padding: 2rem;
  max-width: 45rem;
  /* white-space: nowrap; */
}

.intro-body {
}

.intro-section .portrait-img {
  /* border-style: solid; */
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 400px;
}
