.projects-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 4rem;
}

.projects-section {
  /* background-color: blue; */
  scroll-margin-top: var(--header-height);
}
