.about-section {
  /* border-style: solid; */
  display: flex;
  min-height: 65vh;
  justify-content: space-around;
  align-items: center;
}

.about-info {
}
.portrait-img {
  /* border-style: solid; */
  border-radius: 50%;
}
