.card-container {
  border-style: solid;
  border-radius: var(--unit);
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: var(--unit);
  padding: var(--unit);
  height: 60vh;
  /* box-sizing: border-box; */
}

.card-container * {
  margin: 0;
}

.card-img {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-title {
  grid-column: 5 / 12;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

.card-description {
  grid-column: 5 / 12;
  grid-row: 2 / 4;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.card-link-container {
  grid-column: 5 / 12;
  grid-row: 4 / 5;
  display: flex;
  justify-content: flex-end;
  gap: var(--unit);
}

.card-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: var(--btn-radius);
  gap: var(--unit);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.card-link-btn--github {
  background-color: #003e79;
  color: white;
}

.card-link-btn--github:hover {
  background-color: #0057a8;
}

.card-link-btn--download {
  background-color: #00853c;
  color: white;
}

.card-link-btn--download:hover {
  background-color: #00c056;
}
