/* .card-container {
  border-style: solid;
  display: grid;
  grid-template-rows: 64fr;
  grid-template-columns: 64fr 64fr;
} */

.card-container {
  border-style: solid;
  display: grid;
  height: 70%;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: var(--unit);
  padding: var(--unit);
  box-sizing: border-box;
}

.card-container * {
  margin: 0;
}

.card-img {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-title {
  grid-column: 5 / 12;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

.card-description {
  grid-column: 5 / 12;
  grid-row: 2 / 4;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-btn {
  grid-column: 5 / 12;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 5px;
}

.card-btn:hover {
  background-color: rgb(173, 173, 173);
}
