.card-container {
  /* border-style: solid; */
  border-radius: var(--unit);
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: var(--unit);
  padding: var(--unit);
  height: 60vh;
  /* box-sizing: border-box; */
}

.card-container * {
  margin: 0;
}

.card-img {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-title {
  /* font-size: 4rem; */
  grid-column: 5 / 12;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
}

.card-description {
  grid-column: 5 / 12;
  grid-row: 2 / 4;
  /* border-style: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  text-align: justify;
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.card-technologies-container {
  /* border-style: solid; */
  grid-column: 5 / 9;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* background-color: white; */
}

.tech-badge {
  font-size: 4rem;
}

.card-link-container {
  /* border-style: solid; */
  grid-column: 9 / 12;
  grid-row: 4 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: var(--unit);
  padding-right: var(--unit);
  padding-bottom: var(--unit);
}

.card-link-btn {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  /* border-style: solid; */
  border-radius: var(--btn-radius);
  gap: var(--unit);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card-link-btn--github {
  background-color: #003e79;
  color: white;
}

.card-link-btn--github:hover {
  background-color: #0057a8;
}

.card-link-btn--download {
  background-color: #00853c;
  color: white;
}

.card-link-btn--download:hover {
  background-color: #00c056;
}
