.card-container {
  /* border-style: solid; */
  border-radius: var(--unit);
  background-color: var(--color-secondary);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: var(--unit);
  padding: var(--unit);
  height: 60vh;
  /* box-sizing: border-box; */
}

.card-container * {
  margin: 0;
}

.card-img {
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
  object-fit: cover;
}

.card-title {
  /* font-size: 4rem; */
  grid-column: 5 / 12;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
}

.card-description {
  grid-column: 5 / 12;
  grid-row: 2 / 4;
  /* border-style: solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  text-align: justify;
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.card-technologies-container {
  /* border-style: solid; */
  grid-column: 5 / 9;
  grid-row: 4 / 5;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  margin-left: var(--spacing-2);
  /* background-color: white; */
}

.tech-badge {
  font-size: 1.75rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  display: flex;
  line-height: 1;
  position: relative;
}

.tech-img {
  width: 2.25em;
  height: 2.25em;
}

.tech-alt {
  border-radius: var(--btn-radius);
  padding: 0.5em;
  background-color: var(--color-background);
  text-align: "center";
}

.tech-badge:hover::before {
  content: attr(data-tech);
  /* content: "s"; */
  font-size: 1rem;
  position: absolute;
  background-color: black;
  left: 50%;
  bottom: -30%;
  transform: translateX(-50%);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  white-space: nowrap;
}

.card-link-container {
  /* border-style: solid; */
  grid-column: 9 / 12;
  grid-row: 4 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: var(--unit);
  padding-right: var(--unit);
  padding-bottom: var(--unit);
}

.card-link-btn {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  /* border-style: solid; */
  border-radius: var(--btn-radius);
  gap: var(--unit);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
