.card-container {
  border-style: solid;
  border-color: black;
  border-width: 6px;
  border-radius: 32px;
  background-color: var(--color-secondary);
  display: grid;
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-columns: 40% 60%;
  gap: var(--unit);
  /* padding: var(--unit); */
  /* max-height: 60vh; */
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.card-container * {
  margin: 0;
}

.card-img {
  grid-column: 1;
  /* grid-row: 1 / 5; */
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  /* border-radius: var(--unit); */
  object-fit: cover;
  z-index: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  /* background-color: blue; */
  padding: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.25rem;
  gap: 1rem;
  overflow: visible;
}

.card-info-title {
  /* font-size: 4rem; */
  grid-column: 2;
  /* grid-row: 1 / 2; */
  display: block;
  /* justify-content: center;
  align-items: center; */
  /* border-style: solid; */
}

.card-info-description {
  grid-column: 2;
  /* grid-row: 2 / 4; */
  /* border-style: solid; */
  display: block;
  padding: 1rem;
  /* justify-content: center; */
  /* align-items: center;
  overflow: scroll; */
  text-align: justify;
}

.card-info-bottom-container {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow: visible;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.card-link-container {
  /* background-color: rgb(49, 6, 6); */
  grid-column: 2;
  /* grid-row: 4 / 5; */
  display: flex;
  gap: 1rem;
  padding-right: var(--unit);
  padding-bottom: var(--unit);
}

.card-link-btn {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  /* border-style: solid; */
  border-radius: var(--btn-radius);
  gap: var(--unit);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    /* max-height: none;
    gap: calc(var(--unit) * 1.5); */
  }
}
