.card-container {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(156, 156, 156);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  margin: 5rem;
  height: fit-content;
}

.card-img {
  border-radius: 1rem;
  margin: 0.5rem;
  margin-right: 0%;
}

.card-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin: 0.5rem;
  font-size: 18px;
}

.card-info-container h3 {
  margin: 0.5rem;
}

.card-info-container p {
  flex-grow: 1;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  margin: 0.5rem;
}

.card-btn {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(156, 156, 156);
  padding: 0.5rem;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin: 0.5rem;
  background-color: rgb(73, 73, 73);
}

.card-btn:hover {
  /* Add animation? */
  background-color: rgb(173, 173, 173);
}
