.card-container {
    border-radius: 1rem;
    box-shadow: 0px 10px 8px #999;
    display: flex;
    flex-direction: row;
    margin: 0.5 rem;
    background: linear-gradient(to right, skyblue, rgb(12, 48, 82));
    height: fit-content;
}

.card-img {
    border-radius: 1rem;
    margin: 0.5em;
}