/* Use grid in header container? */

/* Add Github button */

.header-container {
  border-style: solid;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--unit);
  padding: var(--unit);
  max-width: 100%;
}

.header-name {
  color: var(--color-primary);
  border-style: solid;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.header-navbar {
  display: flex;
  border-style: solid;
  gap: var(--spacing-4);
  justify-content: flex-end;
  align-items: center;
}

.header-navbar * {
  border-style: solid;
  border-radius: var(--btn-radius);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
