.hero-section {
  /* border-style: solid; */
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 75% auto;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  flex-grow: 1;
  /* gap: 2rem; */
  /* background-color: rgb(43, 109, 129); */
  height: calc(100vh - var(--header-height));
  padding-left: 6rem;
  padding-right: 6rem;
  /* grid-column-gap: 1rem; */
}

.hero-section .button-1 {
  grid-row-start: 2;
  grid-column-start: span 2;
  min-width: 300px;
  min-height: 100px;
  align-self: start;
}

.hero-info {
  grid-row: 1/1;
  justify-self: start;
  max-width: 45rem;
  padding-right: 4rem;
  /* background-color: red; */

  /* white-space: nowrap; */
}

.hero-heading {
  font-size: 56px;
}

.portrait-img {
  /* border-style: solid; */
  justify-self: end;
  /* grid-column: 2/2; */
  /* max-height: 100%; */
  border-radius: 50%;
  object-fit: cover;
  /* width: 100%; */
  max-height: min(100%, 400px);
  max-width: min(100%, 400px);
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    padding: 0;
  }
  .hero-section * {
    justify-self: center;
  }
  .portrait-img {
    grid-row: 1;
    grid-column: 1;
    max-height: 250px;
  }
  .hero-info {
    align-self: start;
    grid-row: 2;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .hero-heading {
    margin-top: 0;
  }

  .hero-section .button-1 {
    grid-row: 3;
  }
  .hero-body {
    font-size: 1.2rem;
  }
}
