/* Including header */
.App {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

/* Excluding header */
.page {
  display: flex;
  flex-direction: column;
  max-width: 1660px;
  text-align: center;
  background-color: var(--color-background);
}
