#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.testParent {
  border-style: solid;
  display: grid;
  grid-template-rows: 3rem 64fr 64fr 64fr;
  grid-template-columns: 64fr 64fr 64fr 64fr;
}

.testChild1 {
  background-color: blue;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.testChild2 {
  background-color: red;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 5;
}
