.App {
  /* max-width: 1280px; */
  /* width: 100vw; */
  /* margin-left: var(--margins-main);
  margin-right: var(--margins-main); */
  max-width: 1460px;
  width: 100%;
  margin-inline: auto;
  text-align: center;
  background-color: var(--color-background);
  /* background-color: red; */
}
