:root {
  /*  ##### Global variables #####*/

  /* Spacing */
  --unit: 8px;
  --spacing-1: 8px;
  --spacing-2: 32px;
  --spacing-3: 64px;
  --spacing-4: 128px;

  --btn-radius: 32px;

  /* Colors */

  --color-text: rgba(255, 255, 255, 0.87);
  --color-background: #242424;
  --color-primary: rgb(17, 59, 30);
  --color-secondary: rgb(24, 24, 24);

  font-family: consolas, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Font sizes */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}
