:root {
  /*  ##### Global variables #####*/
  --margins-main: 8rem;
  --btn-radius: 32px;

  /* Colors */
  --color-text: rgba(255, 255, 255, 0.87);
  /* --color-secondary: #121212; */
  --color-secondary: #000000;
  --color-primary: rgb(17, 59, 30);
  --color-background: rgb(24, 24, 24);
  --color-border: rgb(0, 255, 81);

  /* Header  settings */
  --header-height: 7.5svh; /* To ensure hero takes up exactly 100svh */

  /* Root font settings */
  font-size: clamp(14px, 1.48vw, 20px);
  font-family:
    Inter, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  /* background-color: var(--color-background); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  background-image: url("images/darkness.png");
  background-color: #a5140a;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  height: 100vh;
}

/* Font sizes */
h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

p {
  font-size: 1rem;
}
